@use './variables' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100dvw;
    height: 100dvh;
    background-color: $milk;
}

#app {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100%;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select, label {
    font: inherit;
    font-size: 1rem;

    &:focus {
        outline: none;
    }
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

.wrapper { 
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

button {
    flex-shrink: 0;
    padding: 0.8rem 1.5rem;
    color: $coal;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: $milk;
    
    &:hover:not(:disabled) {
        background-color: #fafafa;
    }
    
    &:disabled {
        color: #888;
        cursor: not-allowed;
    }
}
