
@use '@styles/variables' as *;

.webcam-analyzer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 8px;
    background-color: $milk;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    position: absolute;
    top: 20px;
    left: 20px;
}

video {
    width: 100%;
    max-width: 400px;
    height: auto;
    background-color: #333;
    border-radius: 4px;
    margin-bottom: 1rem;
    transform: scaleX(-1);
}

.controls  {
    display: flex;
    flex-direction: row;
    gap: 24px;
    
    button {
        min-width: 120px;
    }
}

.status {
    width: 300px;
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #555;
}