
@use '@styles/variables' as *;

.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    background-color: $milk;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    position: absolute;
    bottom: 170px;
    left: 20px;

    &.hidden {
        display: none;
    }
}

video {
    width: 100%;
    max-width: 400px;
    height: auto;
    background-color: #333;
    border-radius: 4px;
    margin-bottom: 1rem;
    transform: scaleX(-1);
}

.controls  {
    display: flex;
    flex-direction: row;
    gap: 12px;
    
    button {
        min-width: 120px;
    }
}

.status {
    width: 390px;
    height: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px;
    font-size: 12px;
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #555;
}